<div class="page-form form">
    <div class="page-form-line">
        <div class="form-field">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Alias" >
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Role name" >
            </mat-form-field>
          
            <button class="btn btn-primary btn-form-field" (click)="login($event)" >Create</button>
        </div>
    </div>
</div>