.app-sidebar{
    min-width: 240px;
    max-width: 240px;
    min-height:100%;
    background: #ffffff;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
    h1{
        color: #67357d;
        text-align: center;
        padding: 15px 0;
    }
    .sidebar-list{
        margin: 0;
        padding: 0;
        li{
            padding: 10px 30px;
            a{
                text-decoration: none;
                font-size: 18px;
                i{
                    margin-right:15px;
                }
            }
        }
    }
}