<div class="page-header">
    <h4 class="page-title">Create role</h4>
</div>
<div class="card">
    <div class="card-header">
        <div class="page-form form">
            <form [formGroup]="form">
                <div class="page-form-line">
                    <div class="form-field">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Alias" formControlName="alias" >
                            <mat-error *ngIf="alias.hasError('required') && alias.touched">
                                This field is required!
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Role name" formControlName="name" >
                            <mat-error *ngIf="name.hasError('required') && name.touched">
                                This field is required!
                            </mat-error>
                        </mat-form-field>
                    
                        <button class="btn btn-primary btn-form-field" [disabled]="form.invalid" (click)="form.valid ? createRole(role) : ''" >Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
