  <div class="page-form form">
    <div class="page-form-line">

      <div class="form-field">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="First name" >
        </mat-form-field>
      </div>
      
      <div class="form-field">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Last name">
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="email">
        </mat-form-field>
      </div>

    </div>
    <div class="page-form-line">
        <div class="form-field">
          <label class="form-label">Role</label>
          <mat-form-field>
              <mat-select placeholder="Test">
                  <mat-option>Test 1</mat-option>
                  <mat-option>Test 2</mat-option>
                  <mat-option>Test 3</mat-option>
                  <mat-option>Test 5</mat-option>
              </mat-select>
          </mat-form-field>
          
          <button class="btn btn-primary btn-form-field" >Create</button>
        </div>
    </div>
  </div>