<div class="page-header">
  <h4 class="page-title">Create user</h4>
</div>
<div class="card">
    <div class="card-header">
      <form [formGroup]="form">
        <div class="page-form form">
            <div class="page-form-line">
              <div class="form-field">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="First name" formControlName="firstName" >
                  <mat-error *ngIf="firstName.hasError('required') && firstName.touched">
                      This field is required!
                  </mat-error>
                </mat-form-field>
              </div>
              
              <div class="form-field">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Last name"  formControlName="lastName">
                  <mat-error *ngIf="lastName.hasError('required') && lastName.touched">
                      This field is required!
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-field">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="email"  formControlName="email">
                  <mat-error *ngIf="email.hasError('required') && email.touched">
                      This field is required!
                  </mat-error>
                </mat-form-field>
              </div>

            </div>
            <div class="page-form-line">
                <div class="form-field">
                  <label class="form-label" *ngIf="roles">Role</label>
                  <mat-form-field  *ngIf="roles">
                      <mat-select placeholder="Test">
                          <mat-option *ngFor="let role of roles">{{ role.name }}</mat-option>
                      </mat-select>
                  </mat-form-field>
                  
                  <button (click)="createUser($event)" class="btn btn-primary btn-form-field" >Create</button>
                </div>
            </div>
        </div>
      </form>
    </div>
</div>